@import "bourbon"
@import "sass/vars"
@import "sass/base"
@import "sass/reset"


.hidden
	display: none

strong, b,
	font-family: "robotobold", sans-serif
	font-weight: normal

h1, h2, h3, h4, h5, h6, .button,
.h1, .h2, .h3, .h4, .h5, .h6
	font-family: "robotocondensedbold", sans-serif
	font-weight: normal
	text-transform: uppercase
a
	outline: none!important
ul,li
	padding: 0
	margin: 0
	list-style-type: none
	display: inline-block

.main-head
	font-family: "Open Sans", sans-serif


// верхняя линия
.top-line
	height: 4px
	padding: 0
	&--green
		background-color: $green-color
	&--blue
		background-color: $blue-color
	&--darkblue
		background-color: $bark-blue

// вурхняя секция
.top-head
	height: 148px
	img
		margin-top: 29px
		margin-left: 15px
	&__desc
		font-size: 20px
		margin-top: 34px
		margin-left: 7px
		font-weight: 300
		line-height: 36px
		font-family: "Open Sans light", sans-serif
		span
			font-family: "Open Sans semibold", sans-serif
			color: $blue-color
	&__cont
		margin-top: 36px
		i
			margin-right: 15px
			color: #c2c2c2
			vertical-align: middle
			padding-bottom: 9px
			display: inline-block
			font-size: 18px
			margin-left: -6px
			&:last-child
				margin-left: 4px
		.top-line__phone
			color: $green-color
			font-size: 28px
			height: 30px
			margin-bottom: 14px
			span
				font-family: "Open Sans light", sans-serif
		.top-line__mail
			a
				color: $blue-color
				font-size: 14px
				text-decoration: underline
				font-family: "Open Sans light", sans-serif
				&:hover
					text-decoration: none

.menu
	height: 50px
	background-color: #ececec
	line-height: 50px
	text-align: center
	&__item
		color: #25262a
		font-size: 15px
		text-transform: uppercase
		padding: 15px 100px
		transition: all .3s ease
		&:hover
			text-decoration: none
			background-color: #007aa3
			color: #fff
	&-drob
		display: none
		position: absolute
		width: 100%
		&--hover
			position: relative
			transition: all .2s ease
			&:hover
				background-color: #007aa3
				color: #fff
				.menu-drob
					display: block
					z-index: 10
					box-shadow: 6px 6px 10px 2px rgba(#111,.3)
					&:hover
						.menu__item--hover
							a
								color: #fff!important
					&__item
						background-color: #0082ad
						display: block
						padding: 16px 70px 16px 22px
						font-size: 16px
						line-height: 23px
						text-align: left
						&:hover
							background-color: #007aa3
							text-decoration: none
							color: #fff

		li
			display: block
			width: 100%
			.menu-drob__item
				background-color: #007aa3
				transition: all .2s ease

		&.active
			display: block
		&__item
			color: #fff

// слайдер
.slider-top
	height: 452px
	background-image: url(../img/sl/bg-banner.png)
	background-position: center top
	background-size: cover
	color: #fff
	position: relative
	//стрелки
	.sl-next,.sl-prev
		background-repeat: no-repeat
		width: 18px
		height: 82px
		background-position: top center
		cursor: pointer
		position: absolute
		top: 47%
		transform: translateY(-50%)
	.sl-next
		background-image: url(../img/sl/sl-right.png)
		right: -17px
	.sl-prev
		background-image: url(../img/sl/sl-left.png)
		left: -18px
	//навигация
	.slick-dots
		position: absolute
		bottom: 19px
		left: 7px
		width: 100px
		li
			width: 11px
			height: 11px
			border-radius: 50%
			border: 1px solid #fff
			display: inline-block
			list-style-type: none
			margin: 0 6px
			transition: all 0.2s ease
			button
				padding: 0
				&::before
					content: ""
		.slick-active
			background-color: #fff

	// слайды
	.sl-slide
		overflow: hidden
		margin-left: 29px
		&__head
			text-transform: uppercase
			font-family: "Open Sans bold",sans-serif
			text-shadow: 3px 0 3px rgba(#000, .2)
			font-weight: 700
			font-size: 36px
			line-height: 44px
			margin-top: 70px
			margin-bottom: 18px
		&__desc
			font-size: 18px
			font-family: "Open Sans", sans-serif
			line-height: 30px
			margin-bottom: 33px
		img
			height: 100%
			margin-top: 31px
			margin-left: -84px
			position: relative
		.button
			margin-bottom: 27px
			display: inline-block
			width: 255px
			text-align: center
			height: 52px
			padding-top: 18px
			color: #000
			background-color: #fff
			border-radius: 2px
			font-family: "Open Sans semibold", sans-serif
			transition: all .2s ease
			background: linear-gradient(to top , #d7d7d7, #fff)
			box-shadow: 2px 0 2px rgba(#e06161, .5)
			&:hover
				text-decoration: none
				background-color: #ccc
		&__factor
			font-size: 14px
			font-family: "Open Sans light", sans-serif
			display: block
			color: #fff
			text-decoration: underline
			&:hover
				text-decoration: none


// секция icons
.icons
	color: #424242
	text-align: center
	height: 492px
.h2-head
	font-size: 34px
	margin-left: 2px
	line-height: 42px
	color: $bark-blue
	text-transform: none
	font-family: "Open Sans semibold", sans-serif
	margin-top: 50px
	margin-bottom: 46px
	text-align: center

.card
	margin-left: -33px
	margin-top: 6px
	cursor: default
	&:hover
		img
			transform: scale(1.1)
		.card__head
			transform: translateY(5px)
		.card__desc
			transform: translateY(-5px)

	img
		width: 108px
		height: 108px
		margin-bottom: 34px
		transition: all ease-in-out .2s
	&__head
		font-size: 16px
		margin-bottom: 23px
		font-family: "Open Sans semibold", sans-serif
		transition: all ease-in-out .2s
	&__desc
		font-size: 14px
		line-height: 20px
		margin-left: -2px
		transition: all ease-in-out .2s
.card-2
	margin-left: 2px
.card-3
	margin-left: 32px

// секция main-footer
.main-footer
	text-align: center
	.footer-wrap
		height: 150px
	.footer-cop
		position: relative
		bottom: 0
		height: 35px
		background-color: #e9e9ea
		text-align: center
		font-size: 12px
		padding-top: 10px
		line-height: 20px
		color: #575757
		font-family: "roboto", sans-serif
	.footer-logo
		margin-top: 32px
		display: inline-block
		margin-left: 5px
	.menu-footer
		width: 100%
		text-align: left
		margin-top: 23px
		&--phone
			margin-bottom: 0px
			a
				font-size: 22px
				line-height: 30px
				color: $green-color
				font-family: "Open Sans light", sans-serif
				margin-left: -1px
				span
					font-family: "Open Sans", sans-serif
		&--mail
			margin-top: 4px
			a
				color: $blue-color
				text-decoration: underline
				margin-left: -2px
				font-family: "Open sans light", sans-serif
				font-size: 14px
				line-height: 30px
				&:hover
					text-decoration: none

		&--addr
			font-size: 14px
			margin-top: 12px
			line-height: 21px
			font-family: "roboto", sans-serif
			i
				font-size: 20px
				margin-top: -4px
				margin-left: 3px
				margin-right: 22px
		&__item
			display: block
			text-align: left
			margin-bottom: 7px
			i
				margin-right: 14px
				color: #e1e1e1
				margin-left: 4px
	.wrap-soc
		margin-top: 35px
	.footer-soc
		margin-bottom: 20px
		display: block
		text-align: left
		margin-left: 19px
		text-decoration: underline
		&:hover
			text-decoration: none
		&__item
			a
				color: #fff
				width: 26px
				height: 26px
				border-radius: 50%
				line-height: 26px
				margin: 0 3px
				color: #fff
				display: inline-block
				transition: all ease 0.2s
				&:hover
					transform: scale(1.1)
	.soc-ins
		a
			background-color: #529ac4
			margin-left: 4px
	.soc-odn
		a
			background-color: #ff7700
	.soc-fac
		a
			background-color: #054b93
	.soc-vk
		a
			background-color: #1e70a0
